<!-- <<startPagePlace>> -->
<body class="main_page">
    <!-- <<headerPlace>> -->
    <main>
        <h1>Управляющая компания ООО "Счастливый дом"</h1>
        <div class="intro"><div class="blur"><h2>Мы умеем и хотим обслуживать ваш дом!</h1></div></div>
        <div class="about">
            <h1>О нас</h1>
            <div>
                <h2>Уважаемые собственники жилья!</h2>
                <p>Мы рады приветствовать вас на сайте управляющей компании «Счастливый дом». Здесь вы можете ознакомиться с самыми свежими новостями сферы ЖКХ, получить актуальную информацию.</p>
                <p>Для наших клиентов на сайте предусмотрены удобные и полезные онлайн-сервисы. Не выходя из дома, вы можете отправить показания счетчиков, подать заявку в диспетчерскую службу, написать обращение руководству или бухгалтерии – и оплатить квитанции.</p>
                <h2>О компании</h2>
                <p>В «СЧАСТЛИВОМ ДОМЕ» работают квалифицированные опытные специалисты жилищно-коммунального хозяйства: экономисты, бухгалтеры, юристы, инженеры, информационных технологий, мастера, рабочие, обслуживающий технический и санитарно-уборочный персонал (дворники, уборщики, сантехники, электрики).</p>
                <p>Основной и главный принцип работы нашей компании – это квалифицированное и качественное обслуживание жилья с приоритетом интересов и позиций собственника. Мы стремимся к активному взаимодействию и взаимопониманию между нами и жителями. И благодарим собственников многоквартирных домов за выбор в пользу нашей управляющей компании.
                <p>Приглашаем в дальнейшем к постоянному взаимовыгодному сотрудничеству в сфере жилищно-коммунального хозяйства.</p>



                <h2>Как стать нашим клиентом?</h2>
                <ul><li>1 Обратиться в УК "Счастливый дом" по телефону 123-456-789 или через почту HappyHouseNSK@yandex.ru.</li>
                <li>2 Получить полную консультацию по всем вопросам выбора обслуживающей организации.</li>
                <li>3 Избрать Совет дома, который в будущем будет контролировать исполнение обязательств УК «Счастливый дом» перед жителями вашего дома.</li>
                <li>4 Совместно с УК «Счастливый дом» провести общее собрание собственников жилья.</li>
                <li>5 Избрать на собрании УК «Счастливый дом» большинством голосов.</li></ul>

 

                <h2>ДОБРО ПОЖАЛОВАТЬ В «СЧАСТЛИВЫЙ ДОМ»!</h2>
            </div>
        </div>
    </main>
    <!-- <<footerPlace>> -->
</body>