<!-- <<startPagePlace>> -->
<body class="dispatch_application">
    <!-- <<headerPlace>> -->
    <nav>
        <ul class="list_menu">
            <li class="menu_item"><div class="click_zone">Жители<b class="icon_arrow icon_close">▲</b></div>
                <ul class="sublist_menu menu_close">
                    <li class="submenu_item"><a href="/Dispatcher/Inhabitans">Найти</a></li>
                </ul>
            </li>
            <li class="menu_item"><div class="click_zone">Аварийные работы<b class="icon_arrow icon_close">▲</b></div>
                <ul class="sublist_menu menu_close">
                    <li class="submenu_item"><a href="/Dispatcher/Emergency/Add">Добавить вручную</a></li>
                    <li class="submenu_item"><a href="/Dispatcher/Emergency/Works">Незакрытые работы и работники</a></li>
                </ul>
            </li>
            <li class="menu_item"><div class="click_zone">Плановые работы<b class="icon_arrow icon_close">▲</b></div>
                <ul class="sublist_menu menu_close">
                    <li class="submenu_item"><a href="/Dispatcher/Planned/Add">Добавить</a></li>
                    <li class="submenu_item"><a href="/Dispatcher/Planned/Works">Незакрытые работы и работники</a></li>
                </ul>
            </li>
            <li class="menu_item"><div class="click_zone">Платные работы<b class="icon_arrow icon_close">▲</b></div>
                <ul class="sublist_menu menu_close">
                    <li class="submenu_item"><a href="/Dispatcher/Paid/Add">Добавить</a></li>
                    <li class="submenu_item"><a href="/Dispatcher/Paid/Works">Незакрытые работы и работники</a></li>
                </ul>
            </li>
            <li class="menu_item"><div class="click_zone">Пожелания от пользователей<b class="icon_arrow icon_close">▲</b></div>
                <ul class="sublist_menu menu_close">
                    <li class="submenu_item"><a href="/Dispatcher/Messages">Просмотр</a></li>
                </ul>
            </li>
            <li class="menu_item"><div class="click_zone">Склад<b class="icon_arrow icon_close">▲</b></div>
                <ul class="sublist_menu menu_close">
                    <li class="submenu_item"><a href="/Dispatcher/Items">Материалы и инструменты на складе</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        <!-- <<bodyPlace>> -->
    </main>
    <!-- <<footerPlace>> -->
</body>
</html>